@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>On this website you will be able to browse recipes as well as logging in and saving your own favorite recipes so that you will not have to look for them again.</p>
</div>
