@model IEnumerable<RecipeCommunityRESTApi.Db.RecipeCommunity.Models.Recipe>

@{
    ViewData["Title"] = "Recipe Browser";
}

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            
        </a>
        
    </p>
    <div class="collapse" id="collapseExample">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExampleNested" aria-expanded="false" aria-controls="collapseExampleNested">
            Button with data-target
        </button>
        <div class="collapse" id="collapseExampleNested">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Cuisine
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipe in Model)
                {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Recipes" asp-action="RecipeView" asp-route-id="@recipe.Id">@Html.DisplayFor(modelItem => recipe.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recipe.Cuisine.Name)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>